<% include inc/header.html %>

	<section class="section portfolio">
		<header class="section-header">
			<h2>Work</h2>
		</header>
		<ul>
			<li class="work-item">
				<div data-toggle-target="love-cravendale">
					<h2 class="work-item-title"><a class="work-link" href="/lovecravendale">Love Cravendale</a></h2>
					<footer class="work-item-meta">
						<time>June 2013</time> &mdash; Loyalty scheme web app.
					</footer>
				</div>
			</li>
			<li class="work-item">
				<h2 class="work-item-title"><a class="work-link" href="/toyota-positive">Toyota Positive</a></h2>
				<footer class="work-item-meta">
					<time>January 2013</time> &mdash; Inspiring uplifting gestures and selfless acts.
				</footer>
			</li>
			<li class="work-item">
				<h2 class="work-item-title"><a class="work-link" href="/cravendale-epic-straws">Cravendale Epic Straws</a></h2>
				<footer class="work-item-meta">
					<time>October 2012</time> &mdash; Loyalty app/scheme.
				</footer>
			</li>
			<li class="work-item">
				<h2 class="work-item-title"><a class="work-link" href="/brewersdroop">Brewers Droop</a></h2>
				<footer class="work-item-meta">
					<time>August 2011</time> &mdash; Responsive blog.
				</footer>
			</li>
		</ul>
	</section>

<% include inc/footer.html %>
