<% include inc/header.html %>

	<section class="section portfolio">
		<ul>
			<% for ( var project in projects ) { %>
				<li id="<%= project %>" data-toggle-target="<%= project %>" class="work-item">
					<article>
						<header class="work-item-header" data-toggle="<%= project %>">
							<h2 class="work-item-title"><%= projects[project].title %></h2>
							<footer class="work-item-meta">
								// &nbsp; <a target="_blank" href="http://<%= projects[project].website %>" title="<%= projects[project].title %>"><%= projects[project].website %></a>. <time datetime="<%= projects[project].date %>"><%= projects[project].date %></time>. <%= projects[project].intro %><br>
							</footer>
						</header>
						<div class="work-detail">
							<section class="inner cf">
								<section class="work-desc">
									<p><%- projects[project].description.join('</p><p>') %></p>
								</section>
								<section data-view="images" class="work-pics"></section>
							</section>
						</div>
					</article>
				</li>
			<% } %>
		</ul>
	</section>

	<section id="about" data-target="about" class="section about">
		<article class="inner">
			<figure class="ri">
				<img src="/img/me.png" alt="Adam Brewer">
			</figure>
			<div class="copy">
				<p>
					Brewer Logic is the portfolio of web developer Adam Brewer.
				</p>
				<p>
					I'm a fervent front-end Web Developer and Webmaker whose passion lies in
					all things Javascript, HTML and CSS. I have a fairly comprehensive front-end
					skill set with some back-end experience as well. I'm always eager to learn
					anything new.
				</p>
				<p>
					I build semantic, mobile-responsive websites and apps optimised for both speed
					and performance, utilising good front-end practices and complying with modern
					web standards and features.
				</p>
				<p>
					Aside from the Internet, my other interests include running, reading, wine and Paleo food. I used to be
					an Aircraft Technician in the British Army so I have quite a few stories to tell!
				</p>
				<p>
					This site went through many trials and versions. I had some crazy ideas for it, but I realised simplicity
					will always be a sure thing. You can read more about the <a target="_blank" href="/humans.txt" title="humans">technical specs here</a>.
				</p>
			</div>
		</article>
	</section>

<% include inc/footer.html %>
