/**
 * Modules
 *
 * Reusable: all.
 * Naming should not indicated the content it's
 * representing/styling.
 *
 * ================
 */


/**
 * Utilities
 *
 */
.u-ir { @extend %ir; } // image-replacement
.u-ri { @extend %ri; } // responsive image
.u-cf { @extend %cf; } // clearfix


/**
 * Navigation and logo
 *
 */
.logo {
    max-width: 160px;
    float: left;
}

.nav {
    float: right;
}
.nav-link {
    display: inline-block;
    margin-left: 1.6em;

    &:first-child {
        margin-left: 0;
    }
}

/**
 * Year Dividers/Separators
 *
 */
.yearDivider {
    text-align: right;
    padding: ($d-measure) 0;
    position: relative;

    &:before {
        content: "";
        display: block;
        width: calc(100% - #{$d-gap});
        position: absolute;
        height: 1px;
        top: 2px;
        bottom: 0;
        left: 0;
        margin: auto;
        background-color: lighten($c-bg, 15%);
        z-index: -1;
    }
}
.yearNumber {
    @include font-size(2);
    font-weight: 300;
    color: lighten($c-bg, 40%);
    letter-spacing: -0.06em;
    background-color: $c-bg;
    padding: 0 0 0 1em;
}

/**
 * Projects
 *
 */
.project {
    margin: ($d-measure) $d-gap ($d-measure) 0;

    &:before {
        content: "";
        display: block;
        height: 2px;
        background: transparent;
        margin-bottom: 6px;
    }
}
.project-header {
    margin-bottom: $d-measure;
}
.project-title {
    @include font-size(5);
    font-family: $ff-archivo;
    font-weight: 600;
    letter-spacing: -0.04em;
    line-height: 1.1;
    margin: 0.2em 0 $d-measure;
}
.project-subtitle {
    font-weight: 300;
    color: darken($c-text, 20%);
}
.project-images {
    margin: 0 auto ($d-measure);

    &.js-slick {
        text-align: center;
    }
}
.project-image {
    margin-bottom: $d-measure;

    &:last-child {
        margin-bottom: 0;
    }
}
.project-copy {
    -webkit-columns: 2;
    -webkit-column-gap: $d-measure *2;
    font-weight: 300;

    > p {
        margin-bottom: 1em;
        -webkit-column-break-before: avoid;
        display: inline-block;
    }
    a {
        font-weight: 400;
    }
}

/**
 * Project Colours
 *
 */
.project--ashthorp:before {
    background-color: #286ac8;
    background: -webkit-linear-gradient(left, #EBEBEB 0%, #000 70%, #000 100%);
    background: linear-gradient(to right, #EBEBEB 0%, #000 70%, #000 100%);
}
.project--mpc:before {
    background-color: #46E1F2;
    background: -webkit-linear-gradient(left, #46E1F2 0%, #46E1F2 40%, #FFDE9A 60%, #FFDE9A 100%);
    background: linear-gradient(to right, #46E1F2 0%, #46E1F2 40%, #FFDE9A 60%, #FFDE9A 100%);
}
.project--getbrewer:before {
    background-color: #286ac8;
    background: -webkit-linear-gradient(left, #c42f07 0%, #c42f07 28%, #286ac8 72%, #286ac8 100%);
    background: linear-gradient(to right, #c42f07 0%, #c42f07 28%, #286ac8 72%, #286ac8 100%);
}
.project--googlesearchindi:before {
    background-color: #0083F8;
    background: -webkit-linear-gradient(right, #fff 0%, #fff 30%, #0083F8 100%);
    background: linear-gradient(to right, #fff 0%, #fff 30%, #0083F8 100%);
}
.project--googleprivacyweek:before {
    background-color: #F53D6E;
}
.project--brewersapps:before {
    background-color: #3989CF;
    background: -webkit-linear-gradient(left, #3989CF 0%, #3989CF 20%, #FFB95E 100%);
    background: linear-gradient(to right, #3989CF 0%, #3989CF 20%, #FFB95E 100%);
}
.project--gatherly:before {
    background-color: #A74A3F;
    background: -webkit-linear-gradient(left, #A74A3F 0%, #A74A3F 40%, #71C5D3 60%, #71C5D3 100%);
    background: linear-gradient(to right, #A74A3F 0%, #A74A3F 40%, #71C5D3 60%, #71C5D3 100%);
}

.project--lovecravendale:before {
    background-color: #2388CC;
    background: -webkit-linear-gradient(left, #2388CC 0%, #2388CC 40%, #4FC309 100%);
    background: linear-gradient(to right, #2388CC 0%, #2388CC 40%, #4FC309 100%);
}
.project--studiobrewer:before {
    background-color: #363636;
    background: -webkit-linear-gradient(left, #363636 0%, #363636 40%, #DD3710 100%);
    background: linear-gradient(to right, #363636 0%, #363636 40%, #DD3710 100%);
}
.project--toyotapositive:before {
    background-color: #059CD7;
    background: -webkit-linear-gradient(left, #059CD7 0%, #059CD7 40%, #EBFD3B 100%);
    background: linear-gradient(to right, #059CD7 0%, #059CD7 40%, #EBFD3B 100%);
}
.project--cravendaleepicstraws:before {
    background-color: #4AC13D;
    background: -webkit-linear-gradient(left, #4AC13D 0%, #4AC13D 20%, #015193 100%);
    background: linear-gradient(to right, #4AC13D 0%, #4AC13D 20%, #015193 100%);
}
.project--virgingalactic:before {
    background-color: #0A556A;
    background: -webkit-linear-gradient(left, #0A556A 0%, #0A556A 20%, #BE1F24 100%);
    background: linear-gradient(to right, #0A556A 0%, #0A556A 20%, #BE1F24 100%);
}
.project--brewersdroop:before {
    background-color: #944D39;
    background: -webkit-linear-gradient(left, #944D39 0%, #944D39 40%, #533432 60%, #533432 100%);
    background: linear-gradient(to right, #944D39 0%, #944D39 40%, #533432 60%, #533432 100%);
}
.project--jenniferhulley:before {
    background-color: #4DBCCD;
    background: -webkit-linear-gradient(left, #4DBCCD 0%, #4DBCCD 40%, #ffffff 100%);
    background: linear-gradient(to right, #4DBCCD 0%, #4DBCCD 40%, #ffffff 100%);
}


/**
 * Aminations
 *
 */

@-webkit-keyframes walk {
    to { right: 110%; }
    from { right: -20%; }
}
@-moz-keyframes walk {
    to { right: 110%; }
    from { right: -20%; }
}
@-ms-keyframes walk {
    to { right: 110%; }
    from { right: -20%; }
}
@-o-keyframes walk {
    to { right: 110%; }
    from { right: -20%; }
}
@keyframes walk {
    to { right: 110%; }
    from { right: -20%; }
}
.arnie {
    position: fixed;
    bottom: -400px;
    right: -100px;
    transition: 0.4s 0.8s ease;
    @include animation(12s walk linear 0s infinite forwards);
    &.show {
        bottom: 0;
    }
}
