* { box-sizing: border-box; }

::-moz-selection {
    background: $c-white;
    color: $c-bg;
}
::selection {
    background: $c-white;
    color: $c-bg;
}
a::-moz-selection {}
a::selection {}

html, body {
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}
html {
    font-size: 62.5%;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
}
body {
    font-family: $ff;
    background-color: $c-bg;
    color: $c-text;
    font-size: 16px;
    font-weight: $fw;
    line-height: 1.6;
    text-align: center;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

img {
    max-width: 100%;
}
