body,
html {
    height: 100%;
    display: flex;
    flex-direction: column;
}
.wrapper {
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    max-height: 180px;
    flex: 1;

    .nav {
        display: flex;
        align-self: center;
    }
}

.logo {
    max-width: 200px;
    align-self: center;
}


.footer {
    text-align: center;
    min-height: 10px;

    &:after {
        content: "";
        height: 10px;
        display: block;
        background-image: $c-gradientFooter;
        background-size: 100% 10px;

    }
}

.footer-inner {
    padding-top: 6rem;
    padding-bottom: 6rem;
}

.header-hero {
    background-image: $c-gradientHero;
    min-height: 200px;
    color: $c-white;
    padding: 2em;
}

