::-webkit-input-placeholder {}
:-moz-placeholder {}

::-webkit-validation-bubble-message { padding: 40px; }

input {
    &:required {}
    &:optional {}
    &:valid {}
    &:invalid {}
    &:default {}
    &:focus {}

    &:enabled {}
    &:disabled {}
    &:checked {}
    &:indeterminate {} // un-selected radio buttons
}

.btn {
    font-family: $ff-futura;
    font-size: 1.6rem;
    font-weight: 600;
    font-style: italic;
    text-transform: uppercase;
    color: $c-white;
    border: 2px solid;
    display: inline-block;
    padding: 1em 2.2em;
    min-width: 220px;
    text-align: center;
    background: transparent;
    position: relative;
    z-index: 1;
    overflow: hidden;
    transition: 0.2s 0.02s ease;

    &:before,
    &:after {
        content: "";
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        position: absolute;
        z-index: -1;
        transition: 0.2s $easeOutExpo;
        background-color: $c-white;
        opacity: 1;
    }

    &:before {
        transition:
            0.2s 0s $easeOutExpo background-color,
            0.2s 0.21s $easeOutExpo height;
        width: 100%;
        height: 0%;
    }

    &:after {
        width: 0%;
        height: 100%;
    }

    &:hover {
        border-color: $c-white;
        color: $c-bravo;

        &:before {
            height: 100%;
        }

        &:after {
            width: 100%;
        }
    }
}
.btn-group {
    text-align: center;
    margin: 1em auto;

    .btn {
        margin: 0 $d-gutter/2;
    }
}
.btn--primary {
    color: $c-bravo;

    &:after,
    &:before {
        background-color: $c-bravo;
    }

    &:hover {
        border-color: $c-bravo;
        color: $c-white;
    }
}
