.contain {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: calc(#{$d-siteWidth} + 4%);
    padding-left: 2%;
    padding-right: 2%;
}


.section {
    padding-top: 10rem;
    padding-bottom: 10rem;
}

.section--hero {
    background-image: $c-gradientHero;
    min-height: 200px;
    color: $c-white;
    padding: 2em;

    .inner {
        margin: 5em auto;
    }
}

.section--alternate {
    background-color: $c-delta;
}

.section-title {
    font-size: 1.6rem;
    font-family: $ff-futura;
    font-style: italic;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 5em;
}

.features {
    margin: 5em 0;
    padding: 0;
}

.feature {
    margin-bottom: 5em;
}

.feature-figure {
    margin-bottom: 1.8em;
}

.feature-title {
    font-family: $ff-futura;
    font-size: 3rem;
    text-transform: uppercase;
    color: $c-white;
    margin: 0 0 0.4em;
    line-height: 1;
}

.feature-summary {
    margin: 0;
    font-size: 2rem;
}
