a {
    color: $c-bravo;
    text-decoration: none;
    border-bottom: 1px solid $c-bravo;
    transition: 0.15s ease;

    .logo & {
        border: none;
    }
}
a:link {}
a:visited {}
a:hover {
    border-color: transparent;
}
a:active {}
a:focus {}
