a {
    color: $c-bravo;
    text-decoration: none;
    border-bottom: 1px solid $c-bravo;
    transition: 0.15s ease;

    figure & {
        border: none;
    }
}
a:hover {
    border-color: transparent;
}
a:active {}
a:focus {}


.nav {}

.nav--pages {}
.nav--external { text-align: right; }
.nav--footer {
    padding: 1rem 0 5rem;
}

.nav-link {
    font-size: 1.6rem;
    font-weight: 400;
    font-style: italic;
    border-color: transparent;
    text-transform: uppercase;
    color: $c-alpha;

    &:hover {
        border-color: $c-alpha;
    }
    &.is-active {
        color: $c-white;
        &:hover {
            border-color: transparent;
        }
    }

    $space: 60px;
    .nav--pages & {
        margin-right: $space;
        &:last-child { margin-right: 0; }
    }
    .nav--external & {
        margin-left: $space;
        color: $c-bravo;
        &:hover { border-color: $c-bravo; }
        &:first-child { margin-left: 0; }
    }

    $space: 25px;
    .nav--footer & {
        margin: 0 $space;
        color: $c-echo;

        &:hover {
            color: $c-bravo;
        }
    }
}
