h1, h2, h3, h4, h5, h6 {
    @include font-size(1.6);
}
.title-hero {
    margin: 0 auto 2.4em;
    font-size: 3rem;
    text-align: center;
}

.title-main {
    color: $c-alpha;
    font-family: $ff-futura;
    font-weight: 800;
    font-size: 3rem;
    text-transform: uppercase;
    margin: auto;
    max-width: 16em;
}
