.works {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
.work {
    max-width: 410px;
    width: 33.3%;
    margin: 0 0 6em;
}
.work-thumb {
    margin-bottom: 2em;
}
.work-details {

}
.work-title,
.work-summary,
.work-when {
    margin: 0.2em 0;
    font-size: 2rem;
}
.work-title {
    color: $c-white;
    a {
        color: inherit;
        border: none;
    }
}
.work-summary {
    color: $c-foxtrot;
}
.work-when {

}
